<main class="main">
  <div class="container">
    <div class="left">
      <div class="content">
        <form [formGroup]="formGroup" class="customer-form">
          <mat-form-field>
            <input formControlName="firstName" matInput placeholder="First Name" />
          </mat-form-field>
          <mat-form-field>
            <input formControlName="lastName" matInput placeholder="Last Name" />
          </mat-form-field>
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Email" />
          </mat-form-field>
          <mat-form-field>
            <input formControlName="phoneNumber" matInput placeholder="Phone Number" />
          </mat-form-field>
          <mat-form-field>
            <input formControlName="address" matInput placeholder="Address" />
          </mat-form-field>
          <button mat-flat-button (click)="save()" [disabled]="!formGroup.valid">
            {{ isNewRecord ? 'Add' : 'Update' }}
          </button>
        </form>
      </div>
    </div>
    <div class="right" *ngIf="customers.length">
      <mat-card *ngFor="let customer of customers">
        <mat-card-title>
          {{ customer.firstName }} {{ customer.lastName }}
        </mat-card-title>
        <mat-card-content>
          <p>Email: {{ customer.email }}</p>
          <p>Phone Number: {{ customer.phoneNumber }}</p>
          <p>Address: {{ customer.address }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="fillFormToUpdate(customer)">
            Edit
          </button>
          <button mat-button (click)="onDelete(customer)">
            Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="right" *ngIf="!customers.length">
      <p>No customers found</p>
    </div>
  </div>
  
</main>


<router-outlet />
